{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "CakesDatbaseSettings": {
    "ConnectionString": ** your ConnectionString here **
      "CakeDatabaseName":"CakesDb",
    "CakeCollectionName":"Cakes"
  },
  "AllowedHosts": "*"
}
