@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
@{
    ViewData["Title"] = "Home Page";
}
@* @accessor.HttpContext.Session.GetString("user") *@

<Hi> Welcome!! @ViewBag.user</Hi>
<a asp-action="Get" asp-controller="Cakes"> See orders</a>
<br />
<a asp-action="Logout" asp-controller="Home">logout</a>
