<h1> Are you sure you want to logout?</h1>
<form asp-action="ConfirmLogout" asp-controller="Home">
    <button type="=Submit">Confirm</button>
</form>
<form asp-action="Index" asp-controller="Home">
    <button type="=Submit">Cancel</button>
</form>